-- CreateTable
CREATE TABLE `Test` (
    `id` INTEGER NOT NULL AUTO_INCREMENT,
    `FIRST_NAME` VARCHAR(255) NULL,
    `EMAIL` VARCHAR(255) NOT NULL,

    UNIQUE INDEX `EMAIL`(`EMAIL`),
    PRIMARY KEY (`id`)
) DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;

